body {
    background-image: url("/includes/images/darkblock.png");
    color: rgba(255, 255, 255, 1);
}

a:link {
    color: rgba(255, 255, 255, 1);
}

a:visited {
    color: rgba(255, 255, 255, 5);
}

a:hover {
    color: rgba(255, 255, 255, 8);
}

a:active {
    color: rgba(255, 255, 255, 7);
}